{{#if url}}
<form action="/editar/{{url._id}}" method="post">
<input value="{{url.origin}}" type="text" name="origin" placeholder="ingrese url" class="form-control my-2">
<button class="btn btn-warning w-100 mb-2" type="submit">editar url</button>
</form>
{{else}}
<form action="/" method="post">
<input type="text" name="origin" placeholder="ingrese url" class="form-control my-2">
<button class="btn btn-primary w-100 mb-2" type="submit">Agregar url</button>
</form>
{{/if}}

